@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-navy: #003366;
  --color-brand-red: #CC0000;
  --color-brand-white: #FFFFFF;

  --font-oswald: 'Oswald', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-opensans);
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald);
}
